.btn {
	position: fixed;
	top: 4rem;
	padding-left: 1rem;
	z-index: 20;
	display: block;
	right: 0;
	left: 0;
}

.selected {
	color: red;
	font-weight: bolder;
}

.parttitle {
	display: block;
	width: 100% !important;
	height: auto !important;

	.con {
		padding-top: 1rem;
		font-size: 1rem;
	}
}

.menu {
	position: absolute;
	border-radius: 0.2rem;
	top: -3rem;
	right: 1rem;
	width: 2rem;
	padding: 3px;
	background-color: rgba(0, 0, 0, 0.285);
	div{
		background-color: #fff;
		height: 3px;
		width: 80%;
		margin: 3px auto;
	}
}


