.btn {
	position: absolute;
	top: 4rem;
	padding-left: 1rem;
	z-index: 20;
}

.selected {
	color: red;
	font-weight: bolder;
}

.parttitle {
	display: block;
	width: 100% !important;
	height: auto !important;

	h4 {
		padding-top: 1rem;
		font-size: 1rem;
	}
}
