$baserem :8rem;

.root {
	height: 100%;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling:touch;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: hsl(50, 54%, 89%);
	background-image: url(./bg.jpg);
	background-repeat: no-repeat;
	background-size: auto 100%;
}

.main {
	padding: 1rem;
	overflow: hidden;
}

.searchbar {
	height: 2.5rem;
	padding: .5rem;
	z-index: 10;
	position: absolute;
	top: 0;
	background-color: hsl(37, 57%, 39%);
	right:0;
	left: 0;
	position: absolute;
	top: 0;
	border-bottom: 1px solid #694000;

	input {
		background-color: hsl(41, 28%, 60%);
		border: 1px solid #694000 !important;
		color: #fff;
	}

	input::-webkit-input-placeholder { /* WebKit browsers */
		color:#968458;
	}
}

.list {
	height: 4rem;
	line-height: 4rem;
	text-align: center;
	border: 1px solid #8e722c;
	color: rgb(121, 89, 7);
	margin-bottom: 2%;
	background-color: rgba(255, 255, 255, 0.557);
	padding-left: 2%;
	float: left;
	width: 45%;
	margin-right: 2%;
}

.button {
	background-color: #966411;
	border-radius: $radius-small;
	color: #694000;
	padding: 0.5rem;
	border: 1px solid #694000;
	width: 80%;
	margin-left: 20%;
	&:active{
		background-color: hsl(37, 87%, 37%);
	}
}
